<ion-view style="" class=" " id="page5" title="Author side">
    <ion-content class="has-header" padding="false" style="background: black;">
        <form name="loginForm" class="list" id="login-form">
            <ion-list class=" " id="signup-list2">
              <label class="item item-input">
                  <span class="input-label">ID :</span>
                  <input ng-model="user.email"  type="email" placeholder="">
              </label>

              <label class="item item-input">
                  <span  class="input-label">Password</span>
                  <input  ng-model="user.password" type="password" placeholder="">
              </label>
            </ion-list>
              <br>
            <div class="padding-small barmenu">
              <div class="un-select barmenu-item-2"><input type="submit" class="bouton" value="Connexion"/></div>
            </div>

        </form>

    </ion-content>
</ion-view>
