<ion-view style="" class=" " id="page1" title="Home">
    <ion-content class="has-header" padding="false" style="background: url(img/home.png) center; background-size: cover;">
    <div class="content-home">
    	<label class="item item-input bord-black" >
            <input ng-model="user.phone" type="texte" placeholder="" style="border:none;">
            <span class="input-img"><img src="img/search.png"></span>
        </label>
        <div class="button-black"><img src="img/sub.png"> <a href="#page6">Subscribe</a></div>
        <div class="button-black"><img src="img/tchat.png"> <a href="#library">Library</a></div>
        <p>Artwork By Felix FOKOUA</p>
    </div>    
    </ion-content>
</ion-view>
