<ion-view view-title="Home Parent">
    <ion-nav-bar class="bar-stable">
      <!-- <ion-nav-back-button class="button back-button buttons  button-clear header-item nav-back-btn">
      </ion-nav-back-button> -->
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
      <!-- <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons> -->
     <!--  <ion-nav-buttons side="left">
    <a ng-click="goBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
        <i class="ion-android-arrow-back"" id="customArrow"></i>
    </a>
</ion-nav-buttons> -->
    </ion-nav-bar>
    <ion-nav-view name="homeContent"></ion-nav-view>
</ion-view>