<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


	<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


    <script src="lib/jquery/jquery-2.1.0.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">


<!--=========================================#1. Custom Header Part====================================-->

  <!-- Ionic Meterial Header-->
	<script src="lib/ionic-material/dist/ionic.material.min.js"></script>
  <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
	<link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=RobotoDraft%3A400%2C500%2C700%2C400italic" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">



  <!--Firebase Header-->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script>
		// You have to replace this section with your custome config
  		var config = {
      apiKey: "AIzaSyBWfZQ19ZHEeDZsjBnl2V6wnePWPDeG2uw",
      authDomain: "ecomerce-7d0e2.firebaseapp.com",
      databaseURL: "https://ecomerce-7d0e2.firebaseio.com",
      storageBucket: "ecomerce-7d0e2.appspot.com",
      messagingSenderId: "908027359549"
    };
		firebase.initializeApp(config);
	</script>

<!--======================================================================================================-->



    <style type="text/css">
      .platform-ios .manual-ios-statusbar-padding{
        padding-top:20px;
      }
      .manual-remove-top-padding{
        padding-top:0px;
      }
      .manual-remove-top-padding .scroll{
        padding-top:0px !important;
      }
      ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
        margin-left:-10px;
        margin-right:-10px;
      }
      ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
        border-radius:0px;
        border-left:0px;
        border-right: 0px;
      }
    </style>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>




  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
  <div style="">

    <!--#5. indexCtrl -->
    <ion-side-menus ng-controller="indexCtrl" data-componentid="side-menu21" style="" enable-menu-with-back-views="false" id="side-menu">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-assertive" >

                <ion-nav-back-button></ion-nav-back-button>


                <ion-nav-buttons side="left">
                    <!-- #3.  $root.extras -->
                    <button  class="button button-icon button-clear ion-navicon" menu-toggle="left">
                    </button>
                </ion-nav-buttons>

                <ion-nav-buttons side="right">
                  <!-- #3.  $root.extras -->
                  <!-- #4.  get_total() -->
                  <button ui-sref="myCart" ng-if="$root.extras" class="button button-icon button-clear ion-ios-cart-outline">
                    {{get_total()}}
                  </button>
                </ion-nav-buttons>

            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>

        <!-- #3.  $root.extras -->
        <ion-side-menu side="left" id="side-menu21" >

            <ion-header-bar class="expanded">
            <div  ng-if="$root.extras" ><img ng-if="$root.extras" ng-src="{{&apos;img/fk/&apos;+ user_info.photoURL +&apos;.jpg&apos;}}" class="avatar motion spin fade"></div>
              
              <div class="menu-bottom" ng-if="$root.extras">
                {{user_info.displayName}}
              </div>
              <div class="menu-bottom" ng-if="$root.extras ==  false">
                ARTEFACT
              </div>
            </ion-header-bar>

            <ion-content class="stable-bg has-expanded-header" style="background: black;">
                <ion-list data-componentid="list1" class=" " id="menu-list1">
                    <hr>
                    <ion-item  ng-if="$root.extras == false" data-componentid="list-item1" style="" menu-close="" ui-sref="signup" id="menu-list-item1" class="item-icon-left  ">
                        <i class="icon my-icon"><img src="img/sub.png" style="width: 20px;margin-left: 10px;"></i>Subscriber</ion-item>
                    
                    <div class="item item-input bord-black" ng-controller="homeCtrl">
                        <input ng-model="texte" type="texte" placeholder="" style="border:none;">
                        <button class="input-img" ng-click="search();"><img src="img/search.png"></button>
                    </div>
                    <ion-item data-componentid="list-item1" style="" menu-close="" ui-sref="home" id="menu-list-item1" class="item-icon-left  ">
                        <i class="icon ion-ios-home-outline"></i>Home</ion-item>
                        <hr>
                    <ion-item  ng-if="$root.extras == false" data-componentid="list-item1" style="" menu-close="" ui-sref="library" id="menu-list-item1" class="item-icon-left  ">
                        <i class="icon my-icon"><img src="img/lib.png" style="width: 20px;margin-left: 10px;"></i>Serie</ion-item>
                        <hr>
                    <ion-item data-componentid="list-item3" style="" id="menu-list-item3" class="item-icon-left  input-select-menu">
                      <span class="custom-dropdown custom-dropdown--white" onclick="menuTarg('#kind');">
                      <i class="icon my-icon" style="left: 0;"><img src="img/kind.png" style="width: 20px;"></i>
                          <div class="custom-dropdown__select custom-dropdown__select--white">Kind
                          </div>        
                      </span>
                          <div class="listSub hide" id="kind">
                            <div><a href="" class="text-art">Comics</a></div>
                            <div><a href="" class="text-art">Franco-belgian</a></div>
                            <div><a href="" class="text-art">Manga</a></div>         
                            <div><a href="" class="text-art">Realistic</a></div>    
                            <div><a href="" class="text-art">Semi-realistic</a></div>  
                          </div>  
                    </ion-item>
                        <hr>
                    <ion-item data-componentid="list-item3" style="" id="menu-list-item3" class="item-icon-left  input-select-menu">
                      <span class="custom-dropdown custom-dropdown--white" onclick="menuTarg('#author');">
                      <i class="icon my-icon" style="left: 0;"><img src="img/pencil.png" style="width: 20px;"></i>
                          <div class="custom-dropdown__select custom-dropdown__select--white">Author
                          </div>        
                      </span>
                          <div class="listSub hide" id="author">
                            <div><a href="" class="text-art">Comics</a></div>
                            <div><a href="" class="text-art">Franco-belgian</a></div>
                            <div><a href="" class="text-art">Manga</a></div>         
                            <div><a href="" class="text-art">Realistic</a></div>    
                            <div><a href="" class="text-art">Semi-realistic</a></div>  
                          </div>  
                    </ion-item>
                        <hr>
                    <ion-item data-componentid="list-item3" style="" id="menu-list-item3" class="item-icon-left  input-select-menu">
                      <span class="custom-dropdown custom-dropdown--white" onclick="menuTarg('#style');">
                      <i class="icon my-icon" style="left: 0;"><img src="img/style.png" style="width: 20px;"></i>
                          <div class="custom-dropdown__select custom-dropdown__select--white">Style
                          </div>        
                      </span>
                          <div class="listSub hide" id="style">
                            <div><a href="" class="text-art">Comics</a></div>
                            <div><a href="" class="text-art">Franco-belgian</a></div>
                            <div><a href="" class="text-art">Manga</a></div>         
                            <div><a href="" class="text-art">Realistic</a></div>    
                            <div><a href="" class="text-art">Semi-realistic</a></div>  
                          </div>  
                    </ion-item>
                        <hr ng-if="$root.extras">
                    <ion-item ng-click="logout()" ng-if="$root.extras == f" data-componentid="list-item7" style="" id="menu-list-item7" class="item-icon-left  ">
                        <i class="icon ion-log-out"></i>Logout</ion-item>
                        <hr>
                    <ion-item ng-click="logout()" ng-if="$root.extras == false" ui-sref="author" data-componentid="list-item7" style=" color: #ffd400;" id="menu-list-item7" class=" " >
                        Author side</ion-item>

                </ion-list>
            </ion-content>

        </ion-side-menu>
    </ion-side-menus>
  </div>
  <script type="text/javascript">
      (function(){
    /*1*/var customSelects = document.querySelectorAll(".custom-dropdown__select");
    /*2*/for(var i=0; i<customSelects.length; i++){
            if (customSelects[i].hasAttribute("disabled")){
                customSelects[i].parentNode.className += " custom-dropdown--disabled";
            }
        }
})();
      function menuTarg(kind){
        var element = $(kind);
        var state = $(this).hasClass("hide");
            $(kind+":after").toggle();
        if(element.hasClass("hide") == false){
            element.addClass("hide");
        }else{
            element.removeClass("hide");
        }
      }
  </script>
  </body>
</html>
