/* Utilities */
.app-icon {
    background: rgba(0, 0, 0, 0) url("../img/app-icon.png") repeat scroll center center / cover ;
    border-radius: 0%;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}



.link {
    color: #116262;
    font-weight: bold;
}

h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}

h4:first-child {
    border-top: none;
    padding-top: initial;
}

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.no-border {
    border: none;
}

.static {
    position: static;
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}
/* Menu */

.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}
/* CODE */

.code {
    color: #333;
    font-family: monospace;
    padding: 10px;
    white-space: pre;
}

.code-wrapper {
    padding-bottom: 30px;
    padding-top: 15px;
}

.code-wrapper::before {
    color: #1B5E20;
    font-family: "Ionicons";
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f216 ';
}

.code-wrapper.active::before {
    content: '\f207 ';
}

.code-wrapper .toggle {
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 8px;
    text-decoration: underline;
}

.code-wrapper .code {
    opacity: 0;
    margin-top: -20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.1s all ease-in-out;
    z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
    position: relative;
}

.code-wrapper.active .code {
    background: #f9f9f9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    left: 16px;
    height: initial;
    margin-top: 15px;
    padding: 15px;
    right: 16px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: initial;
}

.popover {
    left: initial !important;
    right: 16px !important;
    top: 16px !important;
}
.platform-android .popover{
margin-top:10px;
}













/*New Profile cover page*/


.profile-nav .user-heading {
  /*background: #387ef5;*/
  background-image: url('../img/cover4.jpg');
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 5px;
  text-align: center;
}

.profile-nav .user-heading.round a  {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.3);
  display: inline-block;
}

.profile-nav .user-heading a img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}



/*Footer*/
#footer {
  position : absolute;
  bottom : 0;
  height : 40px;
  margin-top : 40px;
}




/* Support Cover*/
.support-nav .user-heading {
  /*background: #387ef5;*/
  background-image: url('../img/material-graphite.jpg');
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 5px;
  text-align: center;
}

.support-nav .user-heading.round a  {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.3);
  display: inline-block;
}

.support-nav .user-heading a img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}


/*-------------------------------------------------------feav----------------------*/

.barmenu{
  display: inline-flex;
  width: 100%;
  height: 7%;
  margin-bottom:0 !important;
}
.barmenu-select{
  display: inline-flex;
  width: 100%;
  height: 4px;
  margin:0 !important;
  padding: 0 !important;
}
hr{
  border-top: 2px #ffd400 solid;
  margin: 0;
}
.padding-small{
      padding: 3px;
}
.barmenu-item{
  display: inline;
  width: 34%;
  border-left: 4px black solid;
  text-align: center;
  padding-top:0.8vw;
  color: black;
  background: black;
  font-size: 3vw;
  font-weight: 800;
  font-style: bold;
  height: 100%;
}
.un-select{
  background: black;
  color: #ffd400 !important;
}
.barmenu-item-4 {
  display: inline;
  width: 26%;
  text-align: center;
  padding-top:0.8vw;
  color: black;
  font-size: 3vw;
  font-weight: 800;
  font-style: bold;
  height: 100%;
}
.barmenu-item-4 img{
  width: 95%;
  height: 30%;
  max-height: 90px;
}
.barmenu-item-2{
  display: inline;
  width: 53%;
  text-align: center;
  padding-top:0.8vw;
  color: black;
  font-size: 3vw;
  font-weight: 800;
  font-style: bold;
  height: 100%;
}
.bg-color{
  background: #ffd400;
}
.item-input{
  padding: 0px 0px 0px 4px !important;
  background: #ffd400;
  margin: 2% 1% 0% 1%;
  min-height: 50px !important;
  width: 98%;
}
select{
  background: #ffd400;
  border: none;
  width: 82%;
}
input{
  font-weight: 800;
  color: black;
}
.price{
  color: white;
  font-weight: 700;

}
.info-price{
  color: #ffd400;
  margin-left: 5px;
}
.input-label{
  padding: 7px;
  width: 20%;
  /*height: 50% !important;*/
  margin-right:10px;
  color:  #ffd400;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  font-style: bold;
  background: black;
  border: 3px  #ffd400 solid;
}
.bord-black{
  border: 2px solid black;
}
.input-img img{
  width: 100%;
  max-height: 35px;
  max-width: 50px;
  height: 90%;
}
.input-img{
  padding: 7px;
  width: 15%;
  margin-right:0px;
  color:  #ffd400;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  font-style: bold;
  border: 3px solid black;
  background: black; 
  background-size: 100% 100%;
}
.content-home{
  width: 90%;
  margin-top: 50%;
}
.content-home a{
  text-decoration: none;
  color:  #ffd400;
}
.content-home .item{
  margin-left: 5%;
  height: 5vh;
}
.content-home p{
  margin-top: 5vh;
  text-align: center;
  width: 70%;
  margin-left: 30%;
  background: rgba(255,255,255,0.2);
}
.button-black{
  width: 30vw;
  color:  #ffd400;
  height: 5vh;
  margin-top: 5px;
  margin-left: 35%;
  padding-top: 0.9vw;
  padding-left: 0.5vw;
  font-size: 3.4vw;
  font-weight: 800;
  font-style: bold;
  background: black; 
  text-decoration: none;
  border-radius: 2px;
  text-align: center; 
}
.button-black img{
  height: 70%;
  width: 10%;
  float: left;
  margin-left: 2.8vw;
  margin-right:  1vw;
}
.small{
  width: 25% !important;
}
.info-payement{
  text-align: center;
  color: #ffd400;
}
.color{
  background: #ffd400;
}
.no-color{
  background: black;
}
.barmenu-item:first-child{
  border-left: none;
}
.bouton{
  width: 99%;
  min-height: 30px;
  background:linear-gradient(to bottom right, #ffd400, #b19403);
  border-radius: 3px;
  border: none;
}
.item-input  input{
  color: black;
}
.barmenu a{
  text-decoration: none;
}
.item-icon-left,.item-content{
  color: #ffd400;
}
.item-icon-left{
  border-bottom: 2px #ffd400 solid;
  background: rgba(0,0,0,0.9);
}
.lib-item{
  display: inline-flex;
  width: 100%;
  height: 120px;
}
.lib-item > a{
  width: 25%;
}
.lib-item > a img{
  width: 100%;
}
.lib-item > div{
  width: 75%;
}
.lib-item > img, .lib-item > div{
  display: inline;
}
.lib-item .informations{
  padding-left: 10px;
}
.lib-item .title{
  font-style: bold;
  color: #ffd400;
  font-weight: 700;
}
.lib-item .informations i{
  color: white;
  font-style: italic;
}
.lib-item .informations p{
  color: #ffd400;
  margin: 0 0 15px;
}
.lib-item .informations .bout{
  width: 60%;
  display: inline-flex;
  height: 40px;
  text-align: center;
  font-weight: 800;
}
.lib-item .informations .bout .round{
  padding-top: 4px;
  background: red;
  color: black;
  font-weight: 800;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  display: inline;
  margin-right: 10px;

}
.lib-item .informations .bout .boutn{
  padding-top: 3px;
  background: #ffd400;
  color: black;
  font-weight: 800;
  border-radius: 5px;
  height: 25px;
  width: 40px;
  display: inline;
  text-decoration: none;

}
.line{
  border-bottom: 2px #ffd400 solid;
}
.input-select-menu{
  padding-left: 22px;
  padding-right: : 2px !important;
    padding-bottom: 2px !important;
    padding-top: 6px !important;
  }
.input-select-menu > span{
  width: 100%;
  height: 100%;
}
.input-select-menu select{
  width: 80%;
  border-right: 1px #ffd400 solid;
  height: 100%;min-height: 38px;     margin-left: 25px;
  padding-right: 0px !important;
}
/*--------------------------------les selects-----------------------------------------------*/
    .custom-dropdown--large {
    font-size: 1.5em;
}
.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: black;
    color: #ffd400; 
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: -0.1em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--white::after {
        color: #ffd400;
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select              { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}
.text-art{
  color: #ffd400;
  margin-left: 10px;
}
.desc-white div{
  color: white;
  font-weight: 200;
  margin-left: 5px;
  text-align: left;
  font-size: 3.4vw;
}
